<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
             http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
             http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">

	<bean
		id="threadService"
		class="org.openyu.commons.thread.impl.ThreadServiceImpl"
		p:maxExecutorSize="2"
		p:corePoolSize="50"
		p:keepAliveSeconds="300"
		p:maxPoolSize="50"
		p:queueCapacity="25" />
		
	<bean
		id="blockingThreadService"
		class="org.openyu.commons.thread.impl.ThreadServiceImpl"
		p:maxExecutorSize="1"
		p:corePoolSize="50"
		p:keepAliveSeconds="300"
		p:maxPoolSize="50"
		p:queueCapacity="25" />		
		
</beans>