<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="
             http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
             http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
             http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">

	<bean
		id="logDataSourceTarget"
		class="org.openyu.commons.commons.dbcp.BasicDataSourceFactoryBean"
		parent="baseFactorySupporter">
		<property
			name="configLocation"
			value="file:src/test/config/etc/dbcp-log.properties" />
	</bean>

	<bean
		id="logDataSource"
		class="org.springframework.jdbc.datasource.LazyConnectionDataSourceProxy"
		p:targetDataSource-ref="logDataSourceTarget" />

	<bean
		id="logSessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property
			name="configLocation"
			value="file:src/test/config/etc/hibernate-log.cfg.xml" />
		<property
			name="dataSource"
			ref="logDataSource" />
		<property name="packagesToScan">
			<list>
			</list>
		</property>
	</bean>

	<bean
		id="logHibernateTemplate"
		class="org.springframework.orm.hibernate4.HibernateTemplate"
		p:sessionFactory-ref="logSessionFactory" />
	
	<!--
	<bean id="logHibernateInterceptor" class="org.springframework.orm.hibernate3.HibernateInterceptor">
		<property name="sessionFactory">
			<ref bean="logSessionFactory" />
		</property>
	</bean>
	-->

	<!-- Hibernate transaction manager -->
	<bean
		id="logTx"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager"
		p:sessionFactory-ref="logSessionFactory" />

	<tx:advice
		id="logTxAdvice"
		transaction-manager="logTx">
		<tx:attributes>
			<tx:method
				name="find*"
				read-only="true" />
			<tx:method
				name="is*"
				read-only="true" />
			<tx:method
				name="search*"
				read-only="true" />

			<tx:method
				name="insert*"
				rollback-for="java.lang.Exception"
				propagation="REQUIRED"
				read-only="false" />
			<tx:method
				name="update*"
				rollback-for="java.lang.Exception"
				propagation="REQUIRED"
				read-only="false" />
			<tx:method
				name="delete*"
				rollback-for="java.lang.Exception"
				propagation="REQUIRED"
				read-only="false" />
			<tx:method
				name="save*"
				rollback-for="java.lang.Exception"
				propagation="REQUIRED"
				read-only="false" />
		</tx:attributes>
	</tx:advice>

	<tx:annotation-driven transaction-manager="logTx" />

	<!-- log dao supporter 
	<bean id="logOjDaoSupporter" class="org.openyu.commons.dao.supporter.OjDaoSupporter"
		p:sessionFactory-ref="logSessionFactory" />
	-->

	<bean
		id="logCommonDaoSupporter"
		class="org.openyu.commons.dao.supporter.CommonDaoSupporter"
		p:hibernateTemplate-ref="logHibernateTemplate" />

	<!-- log async service -->
	<bean
		id="logAsyncCommonService"
		class="org.openyu.commons.service.impl.AsyncCommonServiceImpl"
		parent="baseServiceSupporter"
		p:commonDao-ref="logCommonDaoSupporter" />
		
	<!-- advisor -->
	<aop:config>
		<aop:pointcut
			id="logAsyncCommonServiceTxPointcut"
			expression="bean(logAsyncCommonService)" />
		<aop:advisor
			id="logAsyncCommonServiceTxAdvisor"
			advice-ref="logTxAdvice"
			pointcut-ref="logAsyncCommonServiceTxPointcut" />
	</aop:config>		

	<!-- log service supporter -->
	<bean
		id="baseLogServiceSupporter"
		class="org.openyu.commons.service.supporter.BaseLogServiceSupporter"
		parent="baseServiceSupporter" />
</beans>
