<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="
             http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

	<!-- Apache Commons Net FTP Connection Pool -->
	<!-- use PropertyOverrideConfigurer in applicationContext-init.xml -->
	<bean
		id="cnfDataSource"
		class="org.openyu.commons.commons.net.ftp.impl.CnfDataSourceImpl"
		destroy-method="close">
		<property name="ip">
			<value>${cnfcp.ip}</value>
		</property>
		<property name="port">
			<value>${cnfcp.port}</value>
		</property>
		<property name="timeout">
			<value>${cnfcp.timeout}</value>
		</property>
		<property name="retryNumber">
			<value>${cnfcp.retryNumber}</value>
		</property>
		<property name="retryPauseMills">
			<value>${cnfcp.retryPauseMills}</value>
		</property>
		<property name="username">
			<value>${cnfcp.username}</value>
		</property>
		<property name="password">
			<value>${cnfcp.password}</value>
		</property>
		<property name="bufferSize">
			<value>${cnfcp.bufferSize}</value>
		</property>
		<property name="clientMode">
			<value>${cnfcp.clientMode}</value>
		</property>
		<property name="fileType">
			<value>${cnfcp.fileType}</value>
		</property>
		<property name="controlEncoding">
			<value>${cnfcp.controlEncoding}</value>
		</property>
		<property name="remotePath">
			<value>${cnfcp.remotePath}</value>
		</property>
		<property name="initialSize">
			<value>${cnfcp.initialSize}</value>
		</property>
		<property name="maxActive">
			<value>${cnfcp.maxActive}</value>
		</property>
		<property name="maxIdle">
			<value>${cnfcp.maxIdle}</value>
		</property>
		<property name="minIdle">
			<value>${cnfcp.minIdle}</value>
		</property>
		<property name="maxWait">
			<value>${cnfcp.maxWait}</value>
		</property>
		<property name="timeBetweenEvictionRunsMillis">
			<value>${cnfcp.timeBetweenEvictionRunsMillis}</value>
		</property>
		<property name="numTestsPerEvictionRun">
			<value>${cnfcp.numTestsPerEvictionRun}</value>
		</property>
		<property name="minEvictableIdleTimeMillis">
			<value>${cnfcp.minEvictableIdleTimeMillis}</value>
		</property>
	</bean>

	<bean
		id="cnfSessionFactory"
		class="org.openyu.commons.commons.net.ftp.impl.CnfSessionFactoryImpl"
		p:cnfDataSource-ref="cnfDataSource" />

	<bean
		id="cnfTemplate"
		class="org.openyu.commons.fto.commons.net.ftp.impl.CnfTemplateImpl"
		p:cnfSessionFactory-ref="cnfSessionFactory" />

	<!-- fto supporter, use cnfSessionFactory 
	<bean
		id="cnfFtoSupporter"
		class="org.openyu.commons.fto.commons.net.ftp.supporter.CnfFtoSupporter"
		p:cnfSessionFactory-ref="cnfSessionFactory" />
	-->
	
	<!-- fto supporter, use cnfTemplate -->
	<bean
		id="cnfFtoSupporter"
		class="org.openyu.commons.fto.commons.net.ftp.supporter.CnfFtoSupporter"
		p:cnfTemplate-ref="cnfTemplate" />

</beans>