<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="
             http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
             http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
             http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">

	<bean
		id="dataSourceTarget"
		class="org.openyu.commons.commons.dbcp.BasicDataSourceFactoryBean"
		parent="baseFactorySupporter">
		<property
			name="configLocation"
			value="file:src/test/config/etc/dbcp.properties" />
	</bean>

	<bean
		id="dataSource"
		class="org.springframework.jdbc.datasource.LazyConnectionDataSourceProxy"
		p:targetDataSource-ref="dataSourceTarget" />

	<bean
		id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property
			name="dataSource"
			ref="dataSource" />
		<property
			name="configLocation"
			value="file:src/test/config/etc/hibernate.cfg.xml" />
		<property name="packagesToScan">
			<list>
				<value>org.openyu.commons.po.impl</value>
			</list>
		</property>
	</bean>

	<bean
		id="hibernateTemplate"
		class="org.springframework.orm.hibernate4.HibernateTemplate"
		p:sessionFactory-ref="sessionFactory" />

	<!--  
	<bean id="hibernateInterceptor" class="org.springframework.orm.hibernate3.HibernateInterceptor">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	-->

	<!-- Hibernate transaction manager -->
	<bean
		id="commonTx"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager"
		p:sessionFactory-ref="sessionFactory">
		<qualifier value="main" />
	</bean>

	<tx:advice
		id="commonTxAdvice"
		transaction-manager="commonTx">
		<tx:attributes>
			<tx:method
				name="find*"
				read-only="true" />
			<tx:method
				name="is*"
				read-only="true" />
			<tx:method
				name="search*"
				read-only="true" />

			<tx:method
				name="insert*"
				rollback-for="java.lang.Exception"
				propagation="REQUIRED"
				read-only="false" />
			<tx:method
				name="update*"
				rollback-for="java.lang.Exception"
				propagation="REQUIRED"
				read-only="false" />
			<tx:method
				name="delete*"
				rollback-for="java.lang.Exception"
				propagation="REQUIRED"
				read-only="false" />
			<tx:method
				name="save*"
				rollback-for="java.lang.Exception"
				propagation="REQUIRED"
				read-only="false" />
		</tx:attributes>
	</tx:advice>

	<tx:annotation-driven transaction-manager="commonTx" />

	<!-- dao supporter, use sessionFactory
	<bean
		id="commonDaoSupporter"
		class="org.openyu.commons.dao.supporter.CommonDaoSupporter"
		p:sessionFactory-ref="sessionFactory" />
	-->

	<bean
		id="commonDaoSupporter"
		class="org.openyu.commons.dao.supporter.CommonDaoSupporter"
		p:hibernateTemplate-ref="hibernateTemplate" />

	<!-- service supporter -->
	<bean
		id="commonServiceSupporter"
		parent="baseServiceSupporter"
		class="org.openyu.commons.service.supporter.CommonServiceSupporter" />

</beans>
