<?xml version="1.0" encoding="UTF-8"?>

<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jaxws="http://cxf.apache.org/jaxws"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="
             http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
             http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
             http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
             http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">

	<!-- init -->
	<import resource="classpath:applicationContext-init.xml" />

	<!-- bean -->
	<import resource="classpath:applicationContext-bean.xml" />
	<!-- i18n -->
	<import resource="classpath:applicationContext-i18n.xml" />
	<!-- database -->
	<import resource="classpath:applicationContext-database.xml" />
	<import resource="classpath:applicationContext-database-log.xml" />
	<!-- scheduler -->
	<import resource="classpath:applicationContext-scheduler.xml" />

</beans>