<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="
             http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

	<!-- Apache Commons Net FTP Connection Pool -->
	<bean
		id="ftpClientConnectionFactoryFactoryBean"
		class="org.openyu.commons.commons.net.ftp.impl.FtpClientConnectionFactoryFactoryBean"
		p:configLocation="file:src/test/config/etc/ftp-client.properties" />

	<bean
		id="ftpClientSessionFactory"
		class="org.openyu.commons.commons.net.ftp.impl.FtpClientSessionFactoryImpl"
		p:ftpClientConnectionFactory-ref="ftpClientConnectionFactoryFactoryBean" />

	<bean
		id="ftpClientTemplate"
		class="org.openyu.commons.commons.net.ftp.impl.FtpClientTemplateImpl"
		p:ftpClientSessionFactory-ref="ftpClientSessionFactory" />

	<!-- fto supporter, use ftpClientSessionFactory 
	<bean
		id="ftpClientFtoSupporter"
		class="org.openyu.commons.fto.commons.net.ftp.supporter.FtpClientFtoSupporter"
		p:ftpClientSessionFactory-ref="ftpClientSessionFactory" />
	-->
	
	<!-- fto supporter, use ftpClientTemplate -->
	<bean
		id="commonFtoSupporter"
		class="org.openyu.commons.fto.supporter.CommonFtoSupporter"
		p:ftpClientTemplate-ref="ftpClientTemplate" />

</beans>