<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
             http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
             http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">

	<!-- advice supporter -->
	<bean
		id="baseBeforeAdviceSupporter"
		class="org.openyu.commons.aop.supporter.BaseBeforeAdviceSupporter"
		abstract="true"
		parent="baseServiceSupporter">
	</bean>

	<bean
		id="baseAroundAdviceSupporter"
		class="org.openyu.commons.aop.supporter.BaseAroundAdviceSupporter"
		abstract="true"
		parent="baseServiceSupporter">
	</bean>

	<bean
		id="baseAfterAdviceSupporter"
		class="org.openyu.commons.aop.supporter.BaseAfterAdviceSupporter"
		abstract="true"
		parent="baseServiceSupporter">
	</bean>

	<bean
		id="baseAfterReturningAdviceSupporter"
		class="org.openyu.commons.aop.supporter.BaseAfterReturningAdviceSupporter"
		abstract="true"
		parent="baseServiceSupporter">
	</bean>

	<bean
		id="baseAfterThrowingAdviceSupporter"
		class="org.openyu.commons.aop.supporter.BaseAfterThrowingAdviceSupporter"
		abstract="true"
		parent="baseServiceSupporter">
	</bean>	

	<!-- advice -->
	<bean
		id="debugAdvice"
		class="org.springframework.aop.interceptor.DebugInterceptor" />
	<bean
		id="performanceMonitorAdvice"
		class="org.springframework.aop.interceptor.PerformanceMonitorInterceptor" />

	<bean
		id="blockingThreadAdvice"
		class="org.openyu.commons.aop.impl.BlockingThreadAdvice"
		parent="baseAroundAdviceSupporter" />

	<bean
		id="nonBlockingThreadAdvice"
		class="org.openyu.commons.aop.impl.NonBlockingThreadAdvice"
		parent="baseAroundAdviceSupporter" />

</beans>