<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
             http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
             http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">

	<bean
		id="blankService"
		class="org.openyu.commons.blank.BlankServiceImpl"
		parent="baseServiceSupporter" />

	<bean
		id="blankFactoryBean"
		class="org.openyu.commons.blank.BlankFactoryBean"
		parent="baseServiceSupporter">
		<property
			name="configLocation"
			value="file:src/test/config/etc/blank-service.properties" />
		<property name="properties">
			<props>
				<prop key="org.openyu.blank.BlankService.aliveMills">180000</prop>
			</props>
		</property>
	</bean>

	<!--  
	<bean
		id="blankHelper"
		class="org.openyu.commons.blank.BlankHelper" />
	-->
</beans>