<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
             http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
             http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">

	<!-- service -->
	<bean
		id="baseServiceSupporter"
		class="org.openyu.commons.service.supporter.BaseServiceSupporter"
		abstract="true" />

	<!-- adapter -->
	<bean
		id="beanAdapter"
		class="org.openyu.commons.service.event.supporter.BeanAdapter" />
	<bean
		id="beanChangeAdapter"
		class="org.openyu.commons.service.event.supporter.BeanChangeAdapter" />
	<bean
		id="serviceAdapter"
		class="org.openyu.commons.service.event.supporter.ServiceAdapter" />

	<!-- factory bean-->
	<bean
		id="baseFactoryBeanSupporter"
		class="org.openyu.commons.service.supporter.BaseFactoryBeanSupporter"
		abstract="true" />

	<bean
		id="baseServiceFactoryBeanSupporter"
		class="org.openyu.commons.service.supporter.BaseServiceFactoryBeanSupporter"
		abstract="true" />

</beans>