<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
	<Appenders>
		<Console
			name="Console"
			target="SYSTEM_OUT">
			<!--  
			<PatternLayout pattern="%d{yyyy/MM/dd HH:mm:ss} %highlight%5p %c{1}\:%L - %m%n" />
			-->
			<PatternLayout pattern="%d{yyyy/MM/dd HH:mm:ss} %5p %c{1}\:%L - %m%n" />
		</Console>
		<!--  
		<RollingRandomAccessFile
			name="RollingRandomAccessFile"
			fileName="log/log4j.log"
			filePattern="log/log4j-%d{yyyy-MM-dd}-%i.log.gz">
			<PatternLayout>
				<Pattern>%d{yyyy/MM/dd HH:mm:ss} %5p %c{1}\:%L - %m%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="10 MB" />
			</Policies>
			<DefaultRolloverStrategy max="10" />
		</RollingRandomAccessFile>
		-->
	</Appenders>
	<Loggers>
		<Root level="info">
			<AppenderRef
				ref="Console"
				level="info" />
			<!--  
			<AppenderRef
				ref="RollingRandomAccessFile"
				level="info" />
			-->
		</Root>
		<Logger
			name="org.springframework.jdbc"
			level="info"
			additivity="false">
			<Appender-Ref ref="Console" />
		</Logger>
		<Logger
			name="com.atomikos"
			level="warn"
			additivity="false">
			<Appender-Ref ref="Console" />
		</Logger>
	</Loggers>
</Configuration>
