<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
             http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
             http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
             ">

	<!-- 2015/10/02 改用 AuthKeyServiceFactoryBean in applicationContext-init.xml
	<bean
		id="authKeyService"
		class="org.openyu.commons.security.impl.AuthKeyServiceImpl"
		parent="baseServiceSupporter"
		p:aliveMills="${authKeyService.aliveMills}"
		p:listenMills="${authKeyService.listenMills}"
		p:security="${authKeyService.security}"
		p:securityType="${authKeyService.securityType}"
		p:securityKey="${authKeyService.securityKey}" />
		-->

</beans>